*{
 margin: 0; 
 padding: 0;
}
main{
    margin: auto 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

}
aside{
    width: 20%;
    height: 600px auto;
    background-color: #b9030f;
    border: 1px solid black;
}
ul{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.lis{
    font-size: 40px;
    margin: 20px;
    list-style: none;
    color: white;
    padding: auto;
}
a{
    text-decoration: none;
    color: black;

}

section{
    width:80%;
    height: auto;
    border: 1px solid black;


}
table{
    padding:15px 50px;
    width: 100%;
}
.agregar{
        padding-left:50px;
        padding-top: 15px;
        font-size: 30px;
        display: flex;
}
td{
    text-align: center;
    border: 2px solid black;
    padding: 20px 5px ;
    font-size: 25px;
    flex-wrap: wrap;
}
.subtitulo{
    background-color: black;
    color: white;
}
form{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 32px;
    font-size: 25px;
}
label{
    margin: 30px auto 30px 5px;
}
input, textarea , select{
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    border: 1px solid black ;
}
