.container-login{
    height: calc(100vh - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: black;
    background-image: url(https://png.pngtree.com/background/20230612/original/pngtree-warehouses-with-lots-of-boxes-in-the-middle-picture-image_3182349.jpg);
    background-size: cover;
}

.formLogin{
    border:2px solid black;
    padding-bottom: 40px;
    width: 600px !important;
    background-color: #161917;
    color: white;
    padding-bottom: 30px !important;
}

#submit{
    animation: rotate 2s infinite linear;
    color: rgb(255, 255, 255);
    background-color: red;
    filter: blur(0.5px);
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

#submit:hover{
    position: relative;
    display: flex;
    width: 100%;
    transition: all 0.18s ease;
    filter: blur(0);
    font-size: 20px;

}
.agregar h2{
    color: rgb(182, 178, 178);
    
}


