table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 3px;
    border: 2px solid rgb(81, 81, 81);
    text-align: center;
}

th {
    background-color: #9e0004
}

td {
    background-color: #161917;
    color: white;
}

td img {
    width: 50px;
}

td  .icon{
    width: 30px;
    cursor: pointer;
}

.button {
    background: none;
    border: none;
}